@{
    var series = Model.Get<SeriesItem>("Series");
}

@if (series != null) {
    var links = 0;
    if (series?.FirstInSeries != null) { links++; }
    if (series?.PrevInSeries != null) { links++; }
    if (series?.LastInSeries != null) { links++; }
    if (series?.NextInSeries != null) { links++; }
    if (links == 0) { links = 1; }
    links = 12 / links;
<text>
    <div class="row series">
        <div class="col-md-12 title">
            This post is part of the <strong>@series.Title</strong> series.
        </div>
        @if(series.FirstInSeries != null) {
        <text>
            <div class="col-md-@(links) text-left">
                <a href="@(Context.GetLink(series.FirstInSeries))" title="@(series.FirstInSeries.String(Keys.Title))">
                    <i class="fa fa-angle-double-left"></i>
                    @(series.FirstInSeries.String(Keys.Title))
                </a>
            </div>
        </text>
        }

        @if (series.PrevInSeries != null) {
        <text>
            <div class="col-md-@(links) text-left">
                <a href="@(Context.GetLink(series.PrevInSeries))" title="@(series.PrevInSeries.String(Keys.Title))">
                    <i class="fa fa-angle-left"></i>
                    @(series.PrevInSeries.String(Keys.Title))
                </a>
            </div>
        </text>
        }

        @if (series.NextInSeries != null) {
        <text>
            <div class="col-md-@(links) text-right">
                <a href="@(Context.GetLink(series.NextInSeries))" title="@(series.NextInSeries.String(Keys.Title))">
                    @(series.NextInSeries.String(Keys.Title))
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </text>
        }

        @if (series.LastInSeries != null) {
        <text>
            <div class="col-md-@(links) text-right">
                <a href="@(Context.GetLink(series.LastInSeries))" title="@(series.LastInSeries.String(Keys.Title))">
                    @(series.LastInSeries.String(Keys.Title))
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </div>
        </text>
        }
    </div>
</text>
}